body {
    font-family: "Montserrat";
    text-align: center;
}

h1 {
    font-size: 5.625rem;
    line-height: 2;
    color: black;
    margin: 0;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Navbar */

.navbar {
    padding: 2rem 0 4.5rem;

}

.navbar-brand {
    margin: 0;
    width: 80px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 200;
    color: black !important;
}

.logo-image {
    width: 70%;
}

/* Sections */

.colored-section {
    background-color: #CAF7E3;
    color: black;
}

.white-section {
    background-color: white;
}

/* Title Section*/

#title {
    background-color: #CAF7E3;
}

#title .container-fluid {
    padding: 3% 24% 7%;
}

.name-column {
    padding: 0;
}

.top-planet {
    width: 50%;
    position: absolute;
    right: 15px;
    transform: rotate(95deg);
}

.bottom-planet {
    width: 50%;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.center-image {
    padding-top: 15%;
}

.galaxy-image {
    width: 25%;
}
/*991px*/
@media (max-width: 991px) {
    .bottom-planet {
        width: 15%;
        left: 100px;

    }

    .top-planet {
        width: 20%;
    }
}

@media (max-width: 909px) {
    .bottom-planet {
        width: 15%;
        left: 10px;
        top: 100px;
    }

    .top-planet {
        width: 20%;
    }
}